<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mtx.androidcommonutil">


    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_launch_add"
            android:label="@string/activity_main"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.NaH5Activity"
                android:label="@string/activity_na_h5"/>
        <activity
                android:name=".ui.CodeActivity"
                android:label="@string/activity_code"/>
        <activity
                android:name=".ui.TestActivity"
                android:label="@string/activity_test"/>
        <activity android:name=".ui.TextViewActivity"/>
        <activity android:name=".ui.FragmentActivity"/>
        <activity android:name=".ui.CanvasActivity"/>
        <activity android:name=".ui.WebViewActivity"/>
        <activity android:name=".ui.KeyboardActivity"/>
        <activity android:name=".ui.ViewActivity"/>
        <activity android:name=".ui.RecyclerViewActivity"/>
        <activity android:name=".ui.AnimationActivity"/>
        <activity android:name=".ui.DialogActivity"/>
        <activity android:name=".ui.WxActivity"/>
        <activity android:name=".ui.WbActivity"/>
    </application>

</manifest>