<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mtx.androidcommonutil">


    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>




    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_launch_add"
            android:label="@string/activity_main"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.NaH5Activity"
                android:label="@string/activity_na_h5"/>
        <activity
                android:name=".ui.CodeActivity"
                android:label="@string/activity_code"/>
        <activity
                android:name=".ui.TestActivity"
                android:label="@string/activity_test"/>
        <activity android:name=".ui.TextViewActivity">
        </activity>
        <activity android:name=".ui.FragmentActivity">
        </activity>
        <activity
                android:name=".ui.DialogActivity"
                android:theme="@style/Transparent">
        </activity>
    </application>

</manifest>